<div class="hemo-container">
    <form id="frmHemo" [formGroup]="frmPatient" (ngSubmit)="saveRegister()">
        <mat-form-field>
            <input matInput placeholder="Id" formControlName="registroId" disabled="disabled">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Médico" formControlName="medico">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="RFC" formControlName="rfc">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Beneficiario" type="number" formControlName="beneficiario">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Apellido Paterno" formControlName="apaterno">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Apellido Materno" formControlName="amaterno">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nombre(s)" formControlName="nombre">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Fecha de Nacimiento" type="date" formControlName="fechanacimiento">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Talla (m)" type="number" formControlName="talla">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Peso (kg)" type="number" formControlName="peso">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Fecha de Diagnóstico" type="date" formControlName="fechadiagnostico">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Tipo de Hemofilia" formControlName="tipohemofilia">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Factor Deficiente" formControlName="factordeficiente">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Última medición de Factor Deficiente Ul/mL" type="number" formControlName="ultimamedicion_fd">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Fecha del última medición de factor deficiente" type="date" formControlName="fechaultimamedicion_fd">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Articulación Blanco" formControlName="articulacionblanco">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Tipo de Hemofilia por Severidad" formControlName="tipohemofiliaseveridad">
        </mat-form-field>
        <div>
            <mat-checkbox formControlName="respuestadesmopresina">¿Actualmente, el paciente tiene respuesta a desmopresina?</mat-checkbox>
        </div>
        <div>
            <mat-checkbox formControlName="presentainhibidores">¿El paciente ha presentado inhibidores?</mat-checkbox>
        </div>
        <mat-form-field>
            <input matInput placeholder="Última medición de Inhibidores UI/mL" type="number" formControlName="ultimamedicióninhibidores">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Fecha de Última medición de Inhibidores" type="date" formControlName="fechaultimamedicióninhibidores">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Tratamiento Profilaxis o demanda" formControlName="tratamientoprofilaxisdemanda">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Descripción Medicamento" formControlName="descripciónmedicamento">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="UI/kg" type="number" formControlName="ui_kg">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Frecuencia (veces por semana)" formControlName="frecuenciasemanal">
        </mat-form-field>

        <button type="submit">Guardar</button>
    </form>
</div>
