<div class="hemo-container">
    <mat-form-field>
        <input placeholder="Médico">
    </mat-form-field>
    <mat-form-field>
        <input placeholder="RFC">
    </mat-form-field>
    <mat-form-field>
        <input placeholder="Beneficiario" type="number">
    </mat-form-field>
    <mat-form-field>
        <input placeholder="Apellido Paterno">
    </mat-form-field>
    <mat-form-field>
        <input placeholder="Apellido Materno">
    </mat-form-field>
    <mat-form-field>
        <input placeholder="Nombre(s)">
    </mat-form-field>
    <mat-form-field>
        <input placeholder="Fecha de Nacimiento" type="date">
    </mat-form-field>
    <mat-form-field>
        <input placeholder="Talla (m)" type="number">
    </mat-form-field>
    <mat-form-field>
        <input placeholder="Peso (kg)" type="number">
    </mat-form-field>
    <mat-form-field>
        <input placeholder="Fecha de Diagnóstico" type="date">
    </mat-form-field>
    <mat-form-field>
        <input placeholder="Tipo de Hemofilia">
    </mat-form-field>
    <mat-form-field>
        <input placeholder="Factor Deficiente">
    </mat-form-field>
    <mat-form-field>
        <input placeholder="Última medición de Factor Deficiente Ul/mL" type="number">
    </mat-form-field>
    <mat-form-field>
        <input placeholder="Fecha del última medición de factor deficiente" type="date">
    </mat-form-field>
    <mat-form-field>
        <input placeholder="Articulación Blanco">
    </mat-form-field>
    <mat-form-field>
        <input placeholder="Tipo de Hemofilia por Severidad">
    </mat-form-field>
    <mat-form-field>
        <mat-checkbox>¿Actualmente, el paciente tiene respuesta a desmopresina?</mat-checkbox>
    </mat-form-field>
    <mat-form-field>
        <mat-checkbox>¿El paciente ha presentado inhibidores?</mat-checkbox>
    </mat-form-field>
    <mat-form-field>
        <input placeholder="TÚltima medición de Inhibidores UI/mL" type="number">
    </mat-form-field>
    <mat-form-field>
        <input placeholder="Fecha de Última medición de Inhibidores" type="date">
    </mat-form-field>
    <mat-form-field>
        <input placeholder="Tratamiento Profilaxis o demanda">
    </mat-form-field>
    <mat-form-field>
        <input placeholder="Descripción Medicamento">
    </mat-form-field>
    <mat-form-field>
        <input placeholder="UI/kg" type="number">
    </mat-form-field>
    <mat-form-field>
        <input placeholder="Frecuencia (veces por semana)">
    </mat-form-field>
</div>
