
<mat-toolbar>
    <button mat-icon-button aria-label="Nuevo" (click)="goRegister()">
        <mat-icon class="fa fa-file-alt"></mat-icon>
    </button>
    <button mat-icon-button aria-label="Guardar">
        <mat-icon class="fa fa-save"></mat-icon>
    </button>
</mat-toolbar>
<!-- Registro -->
<div *ngIf="showRegister" class="dvRegister">
    <app-hemofilia-v19></app-hemofilia-v19>
</div>
<!-- Panel -->
<div class="dvPanel">
    <table>
        <tr>
            <th>#</th>
            <th>Column1</th>
            <th>Column2</th>
            <th>Column3</th>
            <th>Column4</th>
            <th>Column5</th>
        </tr>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
