table {
    display: table;
    background-color: transparent;
    max-width: 100%;
}
table.dataTable tbody tr {
    background-color: #ffffff;
}

table.dataTable {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    box-sizing: content-box;
}

table.dataTable thead th {
    font-weight: normal;
    font-size: .7rem;
}

table.dataTable tbody td {
    padding: 8px 10px;
}

.table-bordered {
    border: 1px solid #eceeef;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #eceeef;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}