
<mat-toolbar>
    <button mat-icon-button aria-label="Nuevo" (click)="goRegister('nuevo')">
        <mat-icon class="fa fa-file-alt"></mat-icon>
    </button>
    <button mat-icon-button aria-label="Guardar">
        <mat-icon class="fa fa-save"></mat-icon>
    </button>
</mat-toolbar>
<!-- Registro -->
<div *ngIf="showRegister" class="dvRegister">
    <app-hemofilia-v19 [id]="id"></app-hemofilia-v19>
</div>
<!-- Panel -->
<div *ngIf="!showRegister"  class="dvPanel">|
    <!-- <q-grid [rows]="rows$ | async">
        <q-grid-columns generation="deep"></q-grid-columns>
    </q-grid> -->
    <q-grid [columns]="pacColumns" [rows]="rows$ | async">
        <q-grid-columns>
            <q-grid-column key="registroId" title="" pin="left" [width]="50" [class]="tdMenu">
                <ng-template for="body" let-$cell>
                    <button mat-icon-button [matMenuTriggerFor]="appMenu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #appMenu="matMenu">
                        <button mat-menu-item (click)="editRegist($cell.value)">
                            <mat-icon>edit</mat-icon><span>Editar</span>
                        </button>
                        <button mat-menu-item (click)="deleteRegist($cell.value)">
                            <mat-icon>delete</mat-icon><span>Borrar</span>
                        </button>
                    </mat-menu>
                </ng-template>
            </q-grid-column>
        </q-grid-columns>
    </q-grid>
</div>
